/* PictureGallery Styles */
.pictureGallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: top;
	justify-content: center;
	height: 100%;
	gap: 32px;
}

.picture {
	width: 200px;
	height: 200px;
	object-fit: cover;
	margin: 10px;
}

.top-left {
	position: absolute;
	top: 0;
	left: 0;
}

.top-right {
	position: absolute;
	top: 0;
	right: 0;
}

.bottom-left {
	position: absolute;
	bottom: 0;
	left: 0;
}

.bottom-right {
	position: absolute;
	bottom: 0;
	right: 0;
}

.canvasContainer {
	width: 250px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out;
}

.canvasContainer:hover {
	transform: scale(1.05);
}

.canvas {
	width: 250px;
	height: 250px;
}

.textContainer {
	font-size: smaller;
	padding: 16px;
}
