/* PictureGallery Styles */
.pictureGallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: top;
	justify-content: center;
	height: 100%;
	gap: 32px;
}

.canvasContainer {
	width: 250px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out;
}

.canvasContainer:hover {
	transform: scale(1.05);
}

.canvas {
	width: 250px;
	height: 250px;
}

.textContainer {
	font-size: smaller;
	padding: 16px;
}
