/* Nav Styles */
.navbar {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 0 32px;
	margin-bottom: 32px;
}

.navbarContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.navbarBrand {
	font-weight: bold;
}

.navbarLogo {
	text-decoration: none;
	color: #333;
	font-size: 1.2rem;
	width: 66px;
	height: 66px;
}

.navbarMenu {
	list-style-type: none;
	display: flex;
}

.navbarItem {
	margin-left: 1rem;
}

.navbarLink {
	text-decoration: none;
	color: #333;
}

/* Add additional styles as per your design preferences */
